body{
    background-image: image("C:\Users\Zanetta Pro\Desktop\Programacion\paginas\fotos\background.jpg");
    margin: 0;

}

* {
padding: 0;
margin: 0;
}
         
.header{
    background: rgb(117, 120, 118,0.3);
}
    .t-stroke {
    
      color: transparent;
    
      -moz-text-stroke-width: 2px;
    
      -webkit-text-stroke-width: 2px;
    
      -moz-text-stroke-color: #000000;
    
      -webkit-text-stroke-color: #ffffff;
      font-family: 'Solway', serif;
    
    }
    .t-shadow {
        
        text-shadow: 5px 4px RGB(198, 251, 255);
        text-align: center;
        line-height: 225%;
        height: 8vh;
        letter-spacing: 1em;
    }
    .title-header{
        text-decoration: none;
    }
        .wrapper {
        
        overflow:hidden;
        justify-content: space-between;
        background: RGB(198, 251, 255,0.4);
        width: 100%;
        
        }
    
    nav > ul {
    list-style: none;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
    }
    nav ul li {
    
        font-family: 'Comfortaa', cursive;
        font-size: 130%;
    }
    nav ul li a {
    display: block; 
    padding: 20px;
    color: black;
    text-decoration: none;
    
    }
    nav ul li:hover {
    background: transparent;
    }
    nav ul li a:hover{
    color: #333839;
    }
   
    
        .ir-arriba {
            display:none;
            padding:20px;
            cursor:pointer;
            position: fixed;
            bottom:20px;
            right:20px;
            background: RGB(198, 251, 255);
            border-radius: 70%;
        }
        .ir-arriba:hover{
            background:RGB(198, 251, 255,0.6);
            border-radius: 70%
        }
        


    .img-books{
    width: 3%;
    margin-left: 1%;
    }
    .img-book{
    display: flex;
    }
    .contenido {
    padding-top: 80px;
    }
    .title-books{
    font-family: 'Baloo Tamma', cursive;
    text-align: center;
    margin: 1%;
    color: white;
    font-size: 350%;
    letter-spacing: 5px;
        text-shadow: -1px -1px 0px#424242,
          3px 3px 0px #424242,
          6px 6px 0px #424242;
    }
    .books{
        display: grid;
        grid-template-columns: 9% 9% 9% 9% 9% 9%;
        grid-template-rows: 50%;
        justify-content: center;
        grid-gap: 1%;
    }
    .book{
        cursor: pointer;
        position: relative;
        display: block;
        border: #424242 4% solid;
    }
    .book-image{
        margin: 0;
    }
    .book-image img{
        width: 100%;
        vertical-align: top;
    }
    .footer{
        display: flex;
        justify-content: center;
        margin-top: 4%;
            }
            .item-footer1{
                display: flex;
                grid-column: 1/3;
                grid-row: 4/4;
                height: 40vh;
                width: 43vw;
                justify-content: space-between;
                background: transparent;
                margin-left: 0;
                margin-bottom: 1%;
                }
                .title-description{
                    font-family: 'Didact Gothic', sans-serif;
                    font-size: 170%;
                    text-shadow: none;
                    text-transform: none;
                    letter-spacing: normal;
                }
                .description-information{
                margin-left: 7%;
                text-align: center;
                display: grid;
                align-items: center;
                font-size: 120%;
                font-family: 'Julius Sans One', sans-serif;
                color: black;
                }
                .person-description{
                text-align: right;
                }
                .item-footer2{
                width: 42vw;
                display: flex;
                grid-column: 2/3;
                grid-row: 4/4;
                height: 40vh;
                background: transparent;
                margin-left: 0;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                }
                
                .rrss{
                display: grid;
                text-align: right;
                }
                .rrss-title{
                margin-bottom: 7%;
                font-family: 'Didact Gothic', sans-serif;
                color: black;
                }
                .logos-rrss{
                display: flex;
                }
                .logo{
                width: 70%;
                    display:block;
                    margin-left:auto;
                    margin-right:auto;
                    transform:scale(1);
                    -ms-transform:scale(1);
                    -moz-transform:scale(1);
                    -webkit-transform:scale(1);
                    -o-transform:scale(1);
                    transition: all 500ms ease-in-out;
                    -webkit-transition: all 500ms ease-in-out;
                    -moz-transition: all 500ms ease-in-out; 
                    -ms-transition: all 500ms ease-in-out;
                    -o-transition: all 500ms ease-in-out; 
                }
            
                .logo:hover{
                        transform:scale(1.2);
                        -ms-transform:scale(1.2);
                        -moz-transform:scale(1.2); 
                        -webkit-transform:scale(1.2);
                        -o-transform:scale(1.2);
                    }
                